@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Lalezar';
$fontFamily: 'Montserrat';
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$mainRed: #EF233C;
$mainWhite: #fff;
$mainGrey: #333;


//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: $md1 + px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

// меню ==========================================================================
.header {
	z-index: 10;
	background: url(../img/header-bg.jpg) center center/cover no-repeat;
	z-index: 4;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 66px;
	width: 100%;
	flex-wrap: wrap;
}

.header__container {
	margin: 0px auto;
	display: flex;
	padding: 0px 10px;
	align-items: center;
	justify-content: space-between;

	@media (max-width:$md3+px) {
		padding: 0 15px;
	}
}

.logotip {
	display: flex;
	align-items: center;

	@media (max-width:$md4+px) {
		display: flex;
		position: relative;
		flex-direction: column;
		width: 100%;
	}
}

.header__logo {
	font-size: 36px;
	letter-spacing: 0.065em;
	text-transform: uppercase;
	font-family: 'Lalezar';
	z-index: 5;
	margin-right: 10px;
	margin-top: 10px;

	@media (max-width:$md4+px) {
		margin-right: 0;
		text-align: center;
		width: 100%;
	}
}

.header__logo-text {
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	z-index: 5;

	@media (max-width:$md4+px) {
		text-align: center;
		margin-bottom: 20px;
	}
}

.header__phone a {
	display: flex;
	justify-content: flex-end;
	font-weight: 600;
	font-size: 20px;
	color: $mainWhite;
	transition: color 0.3s ease 0s;
	margin-left: 20px;

	@media (max-width:1182px) {
		display: none;
	}

	@media (max-width:$md2+px) {
		display: none;
	}

	@media (max-width:$md4+px) {
		display: block;
	}

	&:hover {
		color: #E8E8E8;
	}
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__icon {
	display: none;
}

.menu__list>li {
	position: relative;
	margin: 0px 0px 0px 20px;

	@media (max-width:$md2+px) {
		margin: 0px 0px 0px 10px;
	}
}

.menu__link {
	color: #E8E8E8;
	font-size: 14px;

	@media (max-width:$md2+px) {
		font-size: 13px;
	}
}

/* ----------------------- */
body._pc .menu__list>li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list>li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}


body._touch .menu__list>li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}


/* ----------------------- */
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__list>li {
		padding: 10px 0;
	}
}

@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: $mainWhite;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
	}

	.menu__list {
		@media (max-width:$md4+px) {
			margin-top: 30px;
			margin-left: 30px;
		}
	}

	.menu__list>li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;

	}

	.menu__list>li:last-child {
		margin-bottom: 0;
	}

	.menu__list>li._active .menu__sub-list {
		display: block;
	}

	.menu__link {
		font-size: 24px;
	}
}

// body _container ==============================================================
.main-body {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}

.text-red {
	color: $mainRed;
}

.header {
	color: $mainWhite;

	&__title-offer {
		font-weight: 600;
		font-size: 42px;
		line-height: 51px;
		margin-bottom: 25px;

		@media (max-width:$md4+px) {
			font-size: 36px;
			line-height: 120%;
		}
	}

	&__row {
		width: 60%;

		@media (max-width:$md3+px) {
			width: 100%;
		}
	}

	&__subtitle {
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 25px;
		color: $mainWhite;
	}

	&__img {
		display: flex;
		width: 40%;

		@media (max-width:$md3+px) {
			display: none;
		}
	}

	&__images {
		width: 472px;
		height: 423px;
	}
}

hr {
	border: none;
	background-color: $mainRed;
	height: 4px;
	width: 97px;
	margin-bottom: 25px;
}


// advantage ==============================================================
.advantage {
	margin-top: -110px;
	z-index: 5;
}


.advantage__items {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $mainWhite;
	box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	padding: 18px;

	@media (max-width:$md3+px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.advantage__item {
	@media (max-width:$md3+px) {
		margin: 0 0px 15px 0;
	}
}

.advantage_images {}

.advantage__title {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: $mainColor;
	margin-bottom: 5px;
}

.advantage__text {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: $mainColor;
}

// о компании ==============================================================

.about {
	position: relative;
	margin-top: -120px;
	padding-top: 200px;
	background: url(../img/about_bg.jpg) center center/cover no-repeat;
	padding-bottom: 800px;
}

.about__line {
	border-left: 2px solid $mainRed;
	height: 50px;
	left: 50%;
	position: relative;
	margin-left: -1px;
	margin-bottom: 20px;
}

.about__body {
	display: flex;
	align-items: center;

	@media (max-width:$md2+px) {
		flex-wrap: wrap;
	}
}

.about__img {
	flex: 0 0 30%;
	margin-right: 30px;

	@media (max-width:$md2+px) {
		margin-right: 0;
		display: flex;
		justify-content: center;
		flex: 0 0 100%;
		margin-bottom: 30px;
	}
}

.about__img-bg {
	width: 478px;
	height: 441px;
}

.about__block {
	text-align: center;
}

.about__title {
	margin-bottom: 5px;
}

.about__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: $mainGrey;
	margin-bottom: 20px;
}

.about__line-gor {
	border-bottom: 2px solid #EF233C;
	margin-bottom: 15px;
	height: 2px;
	width: 80px;
	left: 50%;
	position: relative;
	margin-left: -40px;
}

.about__btn {
	display: inline-block;
}

.about__offer {
	font-weight: 900;
	font-size: 160px;
	line-height: 195px;
	text-align: center;
	letter-spacing: 0.165em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.05);
}

.about__offer {
	font-weight: 900;
	font-size: 160px;
	line-height: 195px;
	text-align: center;
	letter-spacing: 0.165em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.05);
}

.about__block-two {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width:$md2+px) {
		flex-wrap: wrap;
	}
}

.about__box-img {
	position: relative;
}

.about__img-sport {
	flex: 0 0 50%;

	@media (max-width:$md2+px) {
		display: flex;
		justify-content: center;
		flex: auto;
		margin-bottom: 30px;
	}
}

.about__plus-1 {
	position: relative;
	background: $mainRed;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	top: 100%;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		content: '';
		border: 1px solid rgba(255, 255, 255, .5);
		border-radius: 200px;
		transform: scale(.35) translateY(-50%) translateX(-50%);
		opacity: 0;
		animation: marker-ripple-animation 2.6s cubic-bezier(.25, .9, .2, 1) .4s infinite;
		color: $mainWhite;

		&:hover {
			color: $mainColor;
			font-size: 50px;

		}
	}


}